.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
li {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-left: 0px;
}
.comment-item-name-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.comment-item-name {
  margin-right: 15px;
  padding-top: 0px;
  color: black;
  font-weight: bold;
}
.comment-item-date {
  color: #94a3b8;
}
.comment-item-comment {
  padding-top: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #7e858e;
  padding-bottom: 0px;
  padding-left: 40px;
}
.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-top: 10px;
}
.like-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.images {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.liked {
  color: #0ea5e9;
}
.like-button {
  border-width: 0px;
  background-color: transparent;
}
.del-button {
  border-width: 0px;
  background-color: transparent;
}
